@import "tailwindcss";

@theme {
  --color-azul-oscuro: #003a5d;
  --color-azul-institucional: #0e3b83;
  --color-aguamarina: #56b9ca;
  --color-azul-claro: #346bb3;
  --font-din: 'DIN Pro Cond', sans-serif;
}

@font-face {
    font-family: 'DIN Pro Cond';
    src: url('/fonts/DINProCond-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}